body{
    background-image: url('../resources/background.jpg');
    background-attachment: fixed;
    background-size: auto;
    background-position: center;
    text-align: justify;
}

nav{
    background-color: #6db4b4;
}