@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
body{
    font-family: 'Lora', serif;
    background-image: url('../resources/other.jpg');
    background-attachment: fixed;
    background-size: auto;
    background-position: center;
    text-align: justify;
}

nav{
    background-color: #6db4b4;
}